doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title Student
    body
        table
            tr
                th Student ID
                th Firstname
                th Lastname
                th grade
                if showDepartment
                        th Department
            each val in data
                tr
                    td= val.sid
                    td= val.fname
                    td= val.lname
                    td= val.grade
                    if showDepartment
                        td= val.department_name
        if !showDepartment
            form(method='post', action='student')
                p
                    input(name='sid', type='number', placeholder='SID')
                p
                    input(name='fname', type='text', placeholder='Firstname')
                p
                    input(name='lname', type='text', placeholder='Lastname')
                p
                    input(name='grade', type='number', step='any', placeholder='grade')
                button(type='submit') Add


